<h1>Добавить товар</h1>

{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="POST">
    <div class="input-field ">
        <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
        <label for="title">Название товара</label>
        <span class="helper-text" data-error="Введите название"></span>

    </div>
    <div class="input-field ">
        <input id="price" name="price" type="number" class="validate" required min="1" value="{{data.price}}">
        <label for="price">Цена товара</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>
    <div class="input-field ">
        <input id="img" name="img" type="text" class="validate" required value="{{data.img}}">
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите url картинки"></span>
    </div>
    <div class="input-field">
        <textarea id="description" name="description" class="materialize-textarea" required
            value="{{data.description}}"></textarea>
        <label for="description">Описание товара</label>
        <span class="helper-text" data-error="Введите описание"></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="my-card-btn my-card-action-btn-primary">Добавить товар</button>
</form>