<h1 class="title">Каталог</h1>

{{#if products.length}}
<div class="my-row">
    {{#each products }}
    <div class="my-col-s6">
        <div class="my-card">
            <div class="my-card-image">
                <img src="{{img}}" alt="{{title}}">
            </div>
            <div class="my-card-content">
                <span class="my-card-title">{{title}}</span>
                <p class="price">{{price}}</p>
            </div>
            <div class="my-card-action actions">


                {{#if @root.isAdmin}}
                <a class="my-card-btn my-card-action-btn" href="/catalog/{{id}}/edit?allow=true">Редактировать</a>

                {{else}}
                <a class="my-card-btn my-card-action-btn" href="/catalog/{{id}}">Подробнее</a>
                {{#if @root.isAuth}}

                <form action="/card/add" method="POST">
                    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="my-card-btn my-card-action-btn-primary">Купить</button>
                </form>
                {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>Товаров пока нет</p>
{{/if}}