<h1 class="title">Каталог</h1>
{{!-- {{#if products.length}}
<div class="row">
    {{#each products }}
    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="{{img}}" alt="{{title}}">
            </div>
            <div class="card-content">
                <span class="card-title">{{title}}</span>
                <p class="price">{{price}}</p>
            </div>
            <div class="card-action actions">
                <a href="/catalog/{{id}}">Открыть товар</a>
                {{#if @root.isAuth}}

                {{#ifeq userId._id @root.userId}}
                <a href="/catalog/{{id}}/edit?allow=true">Редактировать</a>
                {{/ifeq}}

                <form action="/card/add" method="POST">
                    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="btn btn-primary">Купить</button>
                </form>
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>Товаров пока нет</p>
{{/if}} --}}

{{#if products.length}}
<div class="row">
    {{#each products }}
    <div class="col s6">
        <div class="my-card">
            <div class="my-card-image">
                <img src="{{img}}" alt="{{title}}">
            </div>
            <div class="my-card-content">
                <span class="my-card-title">{{title}}</span>
                <p class="price">{{price}}</p>
            </div>
            <div class="my-card-action actions">
                <a href="/catalog/{{id}}">Открыть товар</a>
                {{#if @root.isAuth}}

                {{#ifeq userId._id @root.userId}}
                <a href="/catalog/{{id}}/edit?allow=true">Редактировать</a>
                {{/ifeq}}

                <form action="/card/add" method="POST">
                    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="btn btn-primary">Купить</button>
                </form>
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>Товаров пока нет</p>
{{/if}}