<div class="product">
    <h1 class="title">{{product.title}}</h1>
    <div class="flex-container">
        <div class="my-card-image">
            <img src="{{product.img}}" alt="{{product.title}}">
        </div>
        <div class="my-card-content">
            <div class="price-btn">
                <p class="price big">{{product.price}}</p>
                {{#if @root.isAuth}}
                <form action="/card/add" method="POST">
                    <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="my-card-btn my-card-action-btn-primary">Купить</button>
                </form>
                {{/if}}
            </div>
            <p class="my-description flow-text">{{product.description}}</p>
        </div>
    </div>
</div>